.social-links:hover{
    background-color: #3a0ca3;
}
.footer-links{
    color: #ffffff;
}
.footer-links:hover{
    color: #4CC9F0;
}

@media (min-width: 600px) and (max-width: 720px){
.css-17knwz8 {
    width: calc(100%) !important;
}
}

.css-17knwz8 {
   
    padding: 0px;
}